#AddressLine {
    background-color: #00a000;   /* Green background */
    color: white;                /* White text */
    border-radius: 60px;          /* Rounded corners */
    padding: 5px;                /* Padding for height */
    text-align: center;          /* Center the text */
    margin-left: auto;           /* Align with left edge of the page */
    margin-right: auto;          /* Align with right edge of the page */
    position: relative;          /* Positioning for full stretch */
}

.button-group {
    display: flex;
    gap: 5px;
    margin-top: 5px;            /* Add spacing from the top */
    justify-content: center;      /* Center the button group */
    float: right;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #f0f0f5;  /* Light gray for inactive */
    color: #555;  /* Dark gray text for inactive */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button.active {
    background-color: #00a000;  /* Green background for active */
    color: white;               /* White text for active */
}

.custom-button:hover {
    background-color: #e0e0e5;  /* Slight hover effect for inactive buttons */
}

.comp-name {
    font-size: 2em;
}

.head {
    font-size: 2.5em;
}

.loading-spinner {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    color: #007bff;
}