.sidebar {
  height: 100vh;
  background-color: #fff;
  display: flex;
  z-index: 50;
  flex-direction: column;
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 32px;
  padding: 0;
  position: sticky;
}

/* .logo {
  font-size: 24px;
  font-weight: bold;
  color: #00a000;
  text-align: center;
  margin: 20px 0;
}

.logo-zero {
  color: black;
} */

.logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.menu {
  flex-grow: 1; 
  list-style: none;
  margin-top: 5%;
  text-align: center;
}

.settings {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.menu-item {
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: center; /* Center the entire menu item in the sidebar */
}

.menu-item a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align icon and text to the left */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 190px; /* Fixed width to ensure buttons are the same size */
}

.menu-item.active a {
  background-color: #35AA3F;
  color: #fff;
}

.menu-item.active a:hover {
  color: #fff;
}

.menu-item a:hover {
  color: #35AA3F;
}

.menu-item img {
  margin-right: 5px; /* Increase spacing between icon and text if needed */
}

.hr {
  opacity: 30%;
  margin: auto;
}

.img {
  width: 20px;
}